@{
    ViewData["Title"] = "Product Insert Page";
}

<div class="text-center">
    <h1 class="display-4">Insert new Product</h1>
   <hr>
   <form action="/products/insert" method="POST">
    <table>
        <tr>Title:<input type="text" name="title"></tr>
        <br>
        <tr>Description:<input type="text" name="description"></tr>
        <br>
        <tr>UnitPrice:<input type="text" name="unitprice"></tr>
        <br>
        <tr>Quantity:<input type="text" name="quantity"></tr>
        <br>
        <tr>Likes:<input type="text" name="likes"></tr>
        <br>
        <input type="button" value="insert">
    </table>
   </form>
</div>
