@using Catalog;

@{
    ViewData["Title"] = "Product Insert Page";
}


<h1 class="display-4">Insert new Product</h1>
<hr>
<form action="/products/insert" method="POST">
    <table style="font-family: Arial">
        <tr>
            <td><b>Title :</b></td>
            <td><input type="text" name="title" ></td>
        </tr>
        <tr>
            <td><b>Image :</b></td>
            <td><input type="text" name="imageUrl"></td>
        </tr>
        <tr>
            <td><b>Description :</b></td>
            <td><input type="text" name="description"></td>
        </tr>
        <tr>
            <td><b>UnitPrice :</b></td>
            <td><input type="text" name="unitprice"></td>
        </tr>
        <tr>
            <td><b>Quantity :</b></td>
            <td><input type="text" name="quantity"></td>
        </tr>
        <tr>
            <td><b>Likes:</b></td>
            <td><input type="text" name="likes"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Insert"></td>
        </tr>
        
    </table>
</form>
