@{
    ViewData["Title"] = "Product Insert Page";
}

<div class="text-center">
    <h1 class="display-4">Insert new Product</h1>
   <hr>
   <form action="/products/insert" method="POST">

        <input type="text" name="title"><br>
        <input type="text" name="description"><br>
        <input type="text" name="unitprice"><br>
        <input type="text" name="quantity"><br>
        <input type="text" name="likes" >

   </form>
</div>
