@{
    ViewData["Title"] = "Product Index Page";
}

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
    <ol>
        <li><a href="/products/details">Gerbera</a></li>
        <li><a href="/products/details">Rose</a></li>
        <li><a href="/products/details">Lotus</a></li>
        <li><a href="/products/details">Jasmine</a></li>
    </ol>
</div>
