@{
    ViewData["Title"] = "Update Page";
}

<div class="text-center">
    <h1 class="display-4">Update Existing Product</h1>
   <hr>
   
   <input type="text" name="title"><br>
   <input type="text" name="description"><br>
   <input type="text" name="unitprice"><br>
   <input type="text" name="quantity"><br>
   <input type="text" name="likes" >
   
</div>
 