@using OrderProcessing;

@{
    ViewData["Title"] = "Order Insert Page";
}


<h1 class="display-4">Insert new Order</h1>
<hr>
<form action="/Orders/Insert" method="POST">
    <table style="font-family: Arial">
        <tr>
            <td><b>OrderDate :</b></td>
            <td><input type="text" name="OrderDate" ></td>
        </tr>
        <tr>
            <td><b>Status :</b></td>
            <td><input type="text" name="Status"></td>
        </tr>
        <tr>
            <td><b>TotalAmount :</b></td>
            <td><input type="text" name="TotalAmount"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Insert"></td>
        </tr>
        
    </table>
</form>
