@{
    ViewData["Title"] = "Product Details Page";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
   <hr>
   
   <p>Title: Gerbera</p>
   <p>Description: Wedding flower</p>
   <p>Unit Price: 10rs</p>
   <p>Quantity: 56000</p>
   <p>Likes: 3400</p>
</div>
