@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <li><a href="Home/Aboutus"> About us</a></li>
<li><a href="Home/Contactus">Contact</a></li> *@

<!--
    this View : responsible Flowers Presentaion

    razor files-- View -----Presentation Logic
    new kind of syntax has been followed for
    defining -----Presentation in asp.net
    razor syntax

    in asp.net mvc, there is View engine(rzon View engine )
-->
