@page
@model ProductsModel
@{
    ViewData["Title"] = "Products page";
}

<div class="text-center">
    <h1 class="display-4">Products for sale</h1>
    <hr>
    <h2>Todays fresh flowers</h2>
    <ol>
        <li>Gerbera</li>
        <li>Rose</li>
        <li>Marigold</li>
        <li>Jasmine</li>
    </ol>
</div>
