@model Core.Models.Login

@{
    ViewData["Title"] = "Login Page";
}

<h2>Login</h2>

<form method="post" asp-action="Login">
    <div>
        <label for="UserName">Username</label>
        <input type="text" id="UserName" name="UserName" value="@Model.UserName" />
    </div>

    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" value="@Model.Password" />
    </div>

    <button type="submit">Login</button>
</form>