@model Core.Models.User

@{
    ViewData["Title"] = "Login Page";
}

<h2>Login</h2>


<form method="post" action="Login" class="tab">
    <div>
        <label for="UserName">Username</label>
        <input type="text" id="UserName" name="UserName" />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" />
    </div>

    <button type="submit">Login</button>
</form>
<p>Don't have an accout Register <a href="registration">Here</a>.</p>