@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    
</div>


<p>TransflowerStoreWeb Learning Pvt. Ltd.</p>
<p>601, Rama Apartment  </p>
<p>Walvekar Nagar,About Parvati  </p>
<p>Pune 410009  </p>